.workspace {
  background: url(../images/bg-temp.png) no-repeat top left;
}

.worker {
  width: 100px;
  height: 100px;
  background-color: green;
}

.destroy {
  color: #EEE;
}

.worker.hovered {
  background-color: yellow;
}

.supply {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform .1s ease-in;
}

.coffee { background-color: red; }
.pie { background-color: orange; }
.brownie { background-color: green; }



.ui-draggable-dragging {
 box-shadow: 0 0 5px rgba(0,0,0,0.2);
 transform: scale(1.2);
}