.workspace {
  background: url(../images/bg-temp.png) no-repeat top left;
}

.worker {
  width: 100px;
  height: 100px;
  background-color: green;
}

.supplies > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}